In [87]:
# Import Data
import pandas as pd
import numpy as np
from pandas_datareader import data, wb

In [88]:
# Concat All Compaines

def build_stock_df(company_tickers):
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company_name', 'Company_ticker', 'Field']
    ldfs = []
    for (ticker, company_name, field) in zip(company_tickers, company_names, fields):
        file_name = ticker + ' Historical Prices.csv'
        company_frame = pd.read_csv(file_name, index_col = False, skiprows= [0], parse_dates= ['Date'])
        company_frame['Company_ticker'] = ticker
        company_frame['Company_name']= company_name
        company_frame['Field'] = field
        ldfs.append(company_frame)
    return(pd.concat(ldfs, ignore_index=True))

company_tickers = ['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BOALF', 'BT', 'CBS', 'FUN', 'CCO', 'KO', 'CMCSA', 'DISCA', \
                   'EA', 'FL', 'GLOB', 'GOOGL', 'HSY', 'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG', 'PTSXQ', 'SEAS', 'SBGI',\
                   'SIX', 'SNE', 'SBUX', 'TGT', 'TWX', 'TSN', 'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD', 'DIS']
company_names = ['21st Century Fox', 'Amazon', 'AMC Networks Inc ', 'America Airline', 'AT&T', 'Boral Ltd', 'BT Group', 'CBS ', 'Cedar Fair Entertainment Company', \
                 'Clear Channel Outdoor Holdings Inc', 'Coca-Cola', 'Comcast', 'Discovery Communications Inc ', 'Electronic Arts Inc', \
                 'Footlocker', 'Globant', 'Google', 'Hershey ', 'Imax Corp ', 'Kelloggs', "McDonald's", 'Microsoft', 'Netflix', 'Nike', \
                 'Nokia', 'Philip Morris', 'Philips_NV_ADR', 'Point.360', 'SeaWorld Parks & Entertainment', 'Sinclair Broadcast Group Inc', \
                 'Six Flags Entertainment Corporation', 'Sony', 'Starbucks', 'Target', 'Time Warner', 'Tyson Foods', 'Verizon ', 'Viacom', \
                 'Nvidia', 'Intel', 'AMD', 'Disney']
fields = ['Studio', 'Consumer Product', 'Studio', 'Transportation', 'Telecom Services', 'Construction', 'Telecom Services', 'Media'\
          , 'Parks', 'Media', 'Consumer Product', 'Studio', 'Media', 'Gaming ', 'Consumer Product', 'Information Technology Service',\
          'Internet Content & Information', 'Consumer Product', 'Media ', 'Consumer Product', 'Resort', 'Software - Infrastructure',\
          'Media ', 'Consumer Product', '\tCommunication Equipment', 'Consumer Product', 'Consumer Product', 'Media', 'Parks', 'Media',\
          'Parks', 'Studio', 'Consumer Product', 'Consumer Product', 'Studio', 'Consumer Product', 'Media ', 'Studio', 'Gaming',\
          'Gaming', 'Gaming', 'Disney']
company_stock = build_stock_df(company_tickers)
print(company_stock.head())
print(company_stock.tail())

        Date   Open   High    Low  Close     Volume Company_ticker  \
0 2017-10-24  26.62  26.70  26.21  26.23  5,339,512           FOXA
1 2017-10-23  27.51  27.57  26.64  26.69  5,644,300           FOXA
2 2017-10-20  27.55  27.64  27.31  27.50  8,879,892           FOXA
3 2017-10-19  27.07  27.41  26.96  27.37  5,743,185           FOXA
4 2017-10-18  26.96  27.39  26.84  27.18  8,363,299           FOXA

       Company_name   Field
0  21st Century Fox  Studio
1  21st Century Fox  Studio
2  21st Century Fox  Studio
3  21st Century Fox  Studio
4  21st Century Fox  Studio
            Date    Open    High     Low   Close      Volume Company_ticker  \
85664 2017-11-13  104.14  105.14  103.98  104.74   7,856,012            DIS
85665 2017-11-10  104.99  106.24  104.08  104.78  16,701,518            DIS
85666 2017-11-09  100.83  103.91  100.80  102.68  13,172,478            DIS
85667 2017-11-08  101.88  102.00  100.42  101.18   8,023,234            DIS
85668 2017-11-07  101.29  102.90  100.74  101.61  12,177,479            DIS

      Company_name   Field
85664       Disney  Disney
85665       Disney  Disney
85666       Disney  Disney
85667       Disney  Disney
85668       Disney  Disney

In [89]:
print(type(company_stock.Volume))
type(company_stock.Volume[0])

<class 'pandas.core.series.Series'>

str

In [90]:

#company_stock['Volume1'] = pd.to_numeric(company_stock.Volume, errors='ignore')

company_stock["Volume"] = company_stock.Volume.apply(lambda x: float(x.replace("ï¿½", "0").replace(",","").replace('???','0')))

company_stock.head()

,Date,Open,High,Low,Close,Volume,Company_ticker,Company_name,Field
0,2017-10-24,26.62,26.70,26.21,26.23,5339512.0,FOXA,21st Century Fox,Studio
1,2017-10-23,27.51,27.57,26.64,26.69,5644300.0,FOXA,21st Century Fox,Studio
2,2017-10-20,27.55,27.64,27.31,27.50,8879892.0,FOXA,21st Century Fox,Studio
3,2017-10-19,27.07,27.41,26.96,27.37,5743185.0,FOXA,21st Century Fox,Studio
4,2017-10-18,26.96,27.39,26.84,27.18,8363299.0,FOXA,21st Century Fox,Studio

In [91]:
#Check volumn = 0
ab = company_stock[(company_stock.Volume == 0)]

In [92]:
#Double check the data type
company_stock.dtypes

Date              datetime64[ns]
Open                     float64
High                     float64
Low                      float64
Close                    float64
Volume                   float64
Company_ticker            object
Company_name              object
Field                     object
dtype: object

In [94]:
company_stock.to_csv('company_stock.csv', index= False)