In [35]:
# Import Data
import pandas as pd
import numpy as np
from pandas_datareader import data, wb

In [78]:
# Concat All Compaines

def build_stock_df(company_tickers):
    columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company_name', 'Company_ticker', 'Field']
    ldfs = []
    for (ticker, company_name, field) in zip(company_tickers, company_names, fields):
        file_name = ticker + ' Historical Prices.csv'
        company_frame = pd.read_csv(file_name, index_col = False, skiprows= [0], parse_dates= ['Date'])
        company_frame['Company_ticker'] = ticker
        company_frame['Company_name']= company_name
        company_frame['Field'] = field
        ldfs.append(company_frame)
    return(pd.concat(ldfs, ignore_index=True))

company_tickers = ['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BOALF', 'BT', 'CBS', 'FUN', 'CCO', 'KO', 'CMCSA', 'DISCA', \
                   'EA', 'FL', 'GLOB', 'GOOGL', 'HSY', 'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG', 'PTSXQ', 'SEAS', 'SBGI',\
                   'SIX', 'SNE', 'SBUX', 'TGT', 'TWX', 'TSN', 'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD']
company_names = ['FOXA', 'AMZN', 'AMCX', 'AAL', 'T', 'BLD', 'BT', 'CBS', 'FUN', 'CCO', 'KO', 'CMCSA', 'DISCA', 'EA', 'FL', 'GLOB', 'GOOGL',\
                 'HSY', 'IMAX', 'K', 'MCD', 'MSFT', 'NFLX', 'NKE', 'NOK', 'PM', 'PHG', 'PTSXQ', 'SEAS', 'SBGI', 'SIX', 'SNE', 'SBUX', 'TGT',\
                 'TWX', 'TSN', 'VZ', 'VIAB', 'NVDA', 'INTC', 'AMD']
fields = ['Studio', 'Consumer Product', 'Studio', 'Transportation', 'Telecom Services', 'Construction', 'Telecom Services', 'Media'\
          , 'Parks', 'Media', 'Consumer Product', 'Studio', 'Media', 'Gaming ', 'Consumer Product', 'Information Technology Service',\
          'Internet Content & Information', 'Consumer Product', 'Media ', 'Consumer Product', 'Resort', 'Software - Infrastructure',\
          'Media ', 'Consumer Product', '\tCommunication Equipment', 'Consumer Product', 'Consumer Product', 'Media', 'Parks', 'Media',\
          'Parks', 'Studio', 'Consumer Product', 'Consumer Product', 'Studio', 'Consumer Product', 'Media ', 'Studio', 'Gaming',\
          'Gaming', 'Gaming']
company_stock = build_stock_df(company_tickers)
print(company_stock.head())
print(company_stock.tail())

        Date   Open   High    Low  Close     Volume Company_ticker  \
0 2017-10-24  26.62  26.70  26.21  26.23  5,339,512           FOXA
1 2017-10-23  27.51  27.57  26.64  26.69  5,644,300           FOXA
2 2017-10-20  27.55  27.64  27.31  27.50  8,879,892           FOXA
3 2017-10-19  27.07  27.41  26.96  27.37  5,743,185           FOXA
4 2017-10-18  26.96  27.39  26.84  27.18  8,363,299           FOXA

  Company_name   Field
0         FOXA  Studio
1         FOXA  Studio
2         FOXA  Studio
3         FOXA  Studio
4         FOXA  Studio
            Date   Open   High    Low  Close      Volume Company_ticker  \
85659 2007-11-16  12.89  13.27  12.35  12.64  28,143,538            AMD
85660 2007-11-15  12.24  12.92  12.16  12.70  22,434,515            AMD
85661 2007-11-14  12.45  12.57  12.22  12.28  16,333,895            AMD
85662 2007-11-13  12.11  12.45  12.01  12.40  14,464,555            AMD
85663 2007-11-12  12.32  12.43  11.92  11.95  17,281,936            AMD

      Company_name   Field
85659          AMD  Gaming
85660          AMD  Gaming
85661          AMD  Gaming
85662          AMD  Gaming
85663          AMD  Gaming

In [76]:
print(type(company_stock.Volume))
type(company_stock.Volume[0])

<class 'pandas.core.series.Series'>

numpy.float64

In [79]:

#company_stock['Volume1'] = pd.to_numeric(company_stock.Volume, errors='ignore')

company_stock["Volume"] = company_stock.Volume.apply(lambda x: float(x.replace("ï¿½", "0").replace(",","").replace('???','0')))

company_stock.head()

,Date,Open,High,Low,Close,Volume,Company_ticker,Company_name,Field
0,2017-10-24,26.62,26.70,26.21,26.23,5339512.0,FOXA,FOXA,Studio
1,2017-10-23,27.51,27.57,26.64,26.69,5644300.0,FOXA,FOXA,Studio
2,2017-10-20,27.55,27.64,27.31,27.50,8879892.0,FOXA,FOXA,Studio
3,2017-10-19,27.07,27.41,26.96,27.37,5743185.0,FOXA,FOXA,Studio
4,2017-10-18,26.96,27.39,26.84,27.18,8363299.0,FOXA,FOXA,Studio

In [73]:
#Double check the data type
company_stock.dtypes

Date              datetime64[ns]
Open                     float64
High                     float64
Low                      float64
Close                    float64
Volume                    object
Company_ticker            object
Company_name              object
Field                     object
Volumn                   float64
dtype: object

In [60]:
type(company_stock)

pandas.core.frame.DataFrame

In [82]:
company_stock.to_csv('company_stock.csv', index= False)